div(*ngIf="getPost()")
  div {{ getPost().title }}
  div {{ getPost().modificationDate }}
  div {{ getPost().status }}

  div Nodes:
  div(*ngFor = "let node of getPost().nodes; let num = index")
    div {{ node.id }}
