.content {
  margin: auto;
  width: 100%;
  max-width: 520px;
}

.show {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  height: 20px;
  align-items: center;
  border-radius: 20px;
  border: none;
  background: #ebebeb;
  outline: none;
  width: 100%;
}

.show:hover {
  background: #e6e6e6;
}
