app-search-menu
.center
  .filter
  app-simple-loading([condition] = 'getPosts()')
  .stack-posts(*ngFor = "let posts of getPosts()")
    .one-post(*ngFor = "let post of posts")
      app-post-landing([post]="post")
