.content {
  padding: 10px 20px;
  line-height: 1.8;
}

.content a {
  text-decoration: none;
}
.content a:hover {
  text-decoration: underline;
}

.show {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  height: 20px;
  align-items: center;
  border-radius: 20px;
  border: none;
  background: #ebebeb;
  outline: none;
  width: 100%;
}

.show:hover {
  background: #e6e6e6;
}
