.filter {{name}}
  .btn((click)='visibleMenu()')
.sort-menu(*ngIf='visible')
  .sort-content
    input([(ngModel)] = 'inputWord', (keyup) = 'autoComplete($event)', (keydown) = 'arrowsNavigation($event)', )
    ul
      li(*ngFor='let li of List', (click)='acceptFilter($event)',
        (mousemove) = 'addMouseHighlight($event)',
        (mouseleave)='removeMouseHighlight()') {{li}}
