<div class="header">
  <div class="wrapper">
    <a class="logo" [routerLink]="['/']">
      <img src="../../../assets/logo.png"/>
    </a>
    <div *ngIf="searchVisible" class="search">
      <div class="image"></div>
      <input placeholder="Post or profile" type="search"/>
    </div>
    <div class="profile">
      <div class="user" (click)="reverseMenuVisibility()">S</div>
        <div class="profile-background" *ngIf="menuVisible" (click)="hideMenu()" ></div>
        <div class="profile-menu" *ngIf="menuVisible">
          <ul>
            <li class="profile-menu-main"><a routerLink="/">Profile</a></li>
            <li><a routerLink="/">Your posts</a></li>
            <li><a routerLink="/">Your stars</a></li>
            <li><a routerLink="/">Your followings</a></li>
            <li><a routerLink="/">Feature preview</a></li>
            <li><a routerLink="/">Settings</a></li>
            <li><a routerLink="/">Security & Privacy</a></li>
            <li><a routerLink="/">Help</a></li>
            <li><a routerLink="/">Sign out</a></li>
          </ul>
        </div>
    </div>
  </div>
</div>
