.header {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 56px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,.05);
  margin-bottom: 10px;
  user-select: none;
}

.header .wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1000px;
  margin: auto;
  height: inherit;
  padding: 0 20px;
}

/*  logo  */
.header .wrapper .logo {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

.header .wrapper .logo img {
  height: 36px;
}

/*  search  */
.header .wrapper .search {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  height: 30px;
  border-radius: 18px;
  background-color: #f5f5f5;
}

.header .wrapper .search .image {
  width: 16px;
  height: 16px;
  background: url("../../../assets/search.png");
  background-size: cover;
  margin: 0 10px;
}

.header .wrapper .search input {
  display: flex;
  flex-grow: 1;
  font-size: 16px;
  border: 0;
  outline: none;
  background: none;
  margin: 0 5px;
}

/*  profile */
.header .wrapper .profile {
  margin-left: auto;
  display: flex;
  flex-direction: row-reverse;
  width: 100px;
  align-items: center;
}

.header .wrapper .profile .add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  background: #52819c;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.header .wrapper .profile .add:hover {
  text-decoration: none;
  background: #2b82b9;
}

.header .wrapper .profile .user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #fff;
  z-index: 12;
  overflow: hidden;
}

.header .wrapper .profile .user:hover {
  opacity: .8;
  cursor: pointer;
}

.header .wrapper .profile .user app-user-image {
  width: 100%;
  height: 100%;
}

.header .wrapper .profile .profile-background {
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}

.header .wrapper .profile .profile-menu {
  display: block;
  z-index: 13;
  background-color: white;
  position: absolute;
  top: 0px;
  margin-left: 10px;
  margin-top: 60px;
  padding: 0;
  align-items: center;
  min-width: 180px;
  max-width: 200px;
  width: auto;
  border-radius: 3px;
  box-shadow: 0 0 2px -1px rgba(0, 0, 0, .5);
}

.header .wrapper .profile .profile-menu:before,
.header .wrapper .profile .profile-menu:after {
  content: "";
  display: block;
  height: 0;
  left: 50%;
  position: absolute;
  width: 0;
}

.header .wrapper .profile .profile-menu:before {
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 14px solid #e6e6e6;
  margin-left: 50px;
  top: -14px;
  z-index: 4;
}

.header .wrapper .profile .profile-menu:after {
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 13px solid #fff;
  margin-left: 51px;
  top: -13px;
  z-index: 5;
}

.header .wrapper .profile .profile-menu ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header .wrapper .profile .profile-menu ul li {
  height: 30px;
  line-height: 30px;
}

.header .wrapper .profile .profile-menu ul li a {
  display: block;
  font-size: 14px;
  text-decoration: none;
  padding-right: 15px;
  padding-left: 15px;
}

.header .wrapper .profile .profile-menu ul li a:hover {
  background-color: #eaf0f3;
}

.header .wrapper .profile .profile-menu ul li:nth-child(1) a:hover {
  border-radius: 3px 3px 0 0;
}

.header .wrapper .profile .profile-menu ul li:nth-child(9) a:hover {
  border-radius: 0 0 3px 3px;
}
