<div class="header">
  <div class="wrapper">
    <a class="logo" [routerLink]="['/']">
      <img src="../../../assets/logo.png"/>
    </a>
    <div *ngIf="getSearchVisible()" class="search">
      <div class="image"></div>
      <input placeholder="Post or profile" type="search"/>
    </div>
    <div *ngIf="getUser().isAuth" class="profile">
      <div class="user" (click)="reverseMenuVisibility()">
        <app-user-image [username]="getUser().info.username"></app-user-image>
      </div>
        <div class="profile-background" *ngIf="getMenuVisible()" (click)="hideMenu()"></div>
        <div class="profile-menu" *ngIf="getMenuVisible()">
          <ul>
            <li class="profile-menu-main"><a routerLink="/">Profile</a></li>
            <li><a routerLink="/">Your posts</a></li>
            <li><a routerLink="/">Your stars</a></li>
            <li><a routerLink="/">Your followings</a></li>
            <li><a routerLink="/">Feature preview</a></li>
            <li><a routerLink="/">Settings</a></li>
            <li><a routerLink="/">Security & Privacy</a></li>
            <li><a routerLink="/">Help</a></li>
            <li><a routerLink="/auth" (click)="unauthorize()">Sign out</a></li>
          </ul>
        </div>
      <a class="add" routerLink="/posts/add">+</a>
    </div>
    <a routerLink="/auth" *ngIf="!getUser().isAuth" class="auth">Get auth</a>
  </div>
</div>
