.header(#header)
  .content
    .logotype
      .brand
    .search
      input(
        type='input'
        name='find'
        placeholder='Search'
      )
      .find

    .account
      button.btn((click)='addPost()') +
      div A
