<div class="header">
  <div class="wrapper">
    <div class="logo">
    </div>
    <div class="menu">
      <div>
        <a class="link" routerLink="/">Home</a>
      </div>
      <div>
        <a class="link" routerLink="/posts">Posts</a>
      </div>
      <div>
        <a class="link" routerLink="/error">Error</a>
      </div>
    </div>
    <div class="search">
      <label>
        <input type="search"/>
      </label>
    </div>
    <div class="profile">
      <div class="user">S</div>
        <div class="profile-window">
          <ul>
            <li>avatar</li>
            <li>settings</li>
            <li>exit</li>
          </ul>
        </div>
      <div class="notify"></div>
    </div>
  </div>
</div>
