.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px 20px;
  line-height: 1.8;
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,.03);
}

.content a {
  text-decoration: none;
}

.content a:hover {
  text-decoration: underline;
}

.content .title {
  font-size: 20px;
  color: #696969;
  background: none;
  border: none;
  outline: none;
  margin: 5px 0;
}

.content .node {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0;
}

.content .new-node {
  font-size: 14px;
  color: #696969;
  background: none;
  border: none;
  outline: none;
}

.content .create {
  display: flex;
  flex-direction: row;
  background: white;
  border: none;
  border-radius: 4px;
  color: #5f5f5f;
  font-size: 16px;
  outline: none;
  margin-left: auto;
  align-items: center;
}

.content .create:hover {
  color: #0085d7;
}

.content .create .image {
  width: 16px;
  height: 16px;
  background: url("../../../../assets/right-arrow.png") no-repeat center;
  background-size: cover;
  margin-left: 4px;
}
