.popup-window
  display: flex
  flex-direction: row
  position: fixed
  width: 100vw
  height: 100vh
  left: 0
  top: 0
  justify-content: center
  align-items: center
  background: rgba(0, 0, 0, 0.7)
  transition: all 0.4s ease
  .menu
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 500px
    background: white
    box-shadow: 0 0 6px 2px #272727
    padding: 4px 6px
    border-radius: 2px
    div
      padding: 6px 0
    .title
      font-size: 24px
    .message
      width: 200px
      text-align: center
      align-items: center
      justify-content: center
      line-height: 20px
    .button
      width: 60px
      background: #191919
      color: #ffffff
      cursor: pointer
      justify-content: center
      border-radius: 6px
      border: 1px solid #0f0f0f
      transition: all 0.2s ease
      &:hover
        background: #ffffff
        color: black
