.popup-window {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  width: 100%;
  bottom: 20px;
  left: 0;
  align-items: center;
}

.popup-window .message {
  font-size: 14px;
  background: #373737;
  padding: 4px 10px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,.03);
  margin: 0 4px;
  color: white;
  opacity: .8;
  cursor: pointer;
}

.popup-window button {
  width: 12px;
  height: 12px;
  border: none;
  background: url("../../../../assets/close.png") no-repeat;
  background-size: cover;
  outline: none;
}
