.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px 20px;
  background: white;
}

.content a {
  text-decoration: none;
}
.content a:hover {
  text-decoration: underline;
}

.title {
  font-size: 20px;
  outline: none;
  font-weight: bold;
}

.node {
  font-size: 16px;
  margin: 8px 0;
}
