.content {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  width: 35vw;
  padding: 10px 20px;
  line-height: 1.8;
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,.03);
}

.content a {
  text-decoration: none;
}
.content a:hover {
  text-decoration: underline;
}

.title {
  font-size: 20px;
  outline: none;
}

.node {
  font-size: 16px;
  margin: 2px 0;
}
