.main {
  height: 100%;
}

.main .wrapper {
  border-radius: 4px;
  border: #e1e1e1 1px solid;
  margin: 20px auto;
  width: 600px;
  background: #fbfbfb;
  padding: 10px;
}

/* post */
.main .wrapper .posts {
  margin: 0 auto;
  width: 500px;
  border-radius: 3px;
}

.main .wrapper .posts .content {
  padding: 10px 20px;
  line-height: 1.8;
}

.main .wrapper .posts .content a {
  text-decoration: none;
}

.main .wrapper .posts .content a:hover {
  text-decoration: underline;
}

/* sidebar */
/*.main .wrapper .sidebar {*/
/*  margin: 0 10px;*/
/*  width: 340px;*/
/*  float: left;*/
/*  border-radius: 3px;*/
/*  background-color: #fff;*/
/*}*/
/*.main .wrapper .sidebar .content{*/
/*  padding: 10px 20px;*/
/*  line-height: 1.8;*/
/*}*/
