/*
 * wrapper component
 */

.wrapper
  flex-direction: column

/*
 * main component
 */

// main component default variables
$main-width: 500px

.main
  flex-direction: column
  margin: 56px auto 0 auto
  width: $main-width
  min-height: calc(100vh - 56px)
.main .content
  flex-direction: column
.main .content .filter
  margin: 10px
  width: $main-width - 20px
  height: 56px
  background-color: #f8f8f8
  border-radius: 3px
.main .content .posts
  flex-direction: column
  margin: 10px
  width: $main-width - 20px
.main .content .posts .post
  margin: 5px 0
  width: $main-width - 20px
  height: 100px
  background-color: #f8f8f8
  border-radius: 3px
