.wrapper
  .header
    .content
      .logotype
        .brand
      .search
        input(
          type='input'
          name='find'
          placeholder='Search'
        )
        .find
      .account
        div A
  .main
    .content
      .filter
      .posts
        .post
        .post
        .post
        .post
        .post
        .post
        .post
        .post
        .post
        .post
