.wrapper
  .header
    .content
      .logotype
        .brand
      .search
        input(
          type='input'
          name='find'
          placeholder='Search'
        )
        .find
      .account
        div Account
  .main
    .content
      .filter Filter component
      .posts
        .post Post1 component
        .post Post2 component
        .post Post3 component
