/*
 * wrapper component
 */

.wrapper
  flex-direction: column


/*
 * main component
 */

// main component default variables
$main-width: 500px

.main
  flex-direction: column
  margin: 56px auto 0 auto
  width: $main-width
  min-height: calc(100vh - 56px)
.main .content
  flex-direction: row
