.wrapper
  app-header()
  .main
    .content
      .filter
      .posts
        .post
        .post
        .post
        .post
        .post
        .post
        .post
        .post
        .post
        .post
app-popup-notification()
