.popup-menu
  flex-direction: column
  z-index: 100
  position: absolute
  width: 140px
  background: white
  color: #5193e7
  border-radius: 4px
  border: 1px solid #e0e9ec
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1)
  transform: translate(calc(-100% + 30px))
  .field
    padding: 1px 4px 1px 10px
    cursor: pointer
    font-size: 14px
    &:hover
      color: #2168b8
      //background: #e7ecee
      border-radius: 4px
