.post {
  margin: 10px;
  padding: 0 10px;
  line-height: 1.8;
  background: #fff;
}

.post .title {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

.post .content {
  font-size: 16px;
}

.post .statistic {
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
}

.post .statistic .element {
  margin: 0 4px;
  flex-direction: row;
  align-items: center;
}

.post .statistic .element .count {
  font-size: 12px;
  margin: 4px;
}

.post .statistic .element .comments-image {
  width: 10px;
  height: 10px;
  background: url("../../../assets/comment.png") no-repeat;
  background-size: cover;
  margin-top: -2px;
  opacity: .8;
}

.post .statistic .read-more {
  font-size: 12px;
  margin: 4px 4px 4px auto;
}
