.post
  .header
    .publish {{ publish }}
    app-popup-menu
      .menu-btn((click)="clickMenuButton()")(#menu)([id]="post.id")
        .point
  .content
    .left
      a(class='title' routerLink="/posts/{{ post.id }}") {{ post.title }}
      .user
        .image
        .info
          .user-name Some User
          .additionally Junior QA
    .right
      .likes
      .views
      .comments
