.date {{publish}}
.post-wrapper
  .post
    .header
      .left
        a(class='title' routerLink="/{{ post.id }}") {{ post.title }}
      app-popup-menu([visible]="menuVisible", [fields]="menuFields")
        .menu-btn((click)="clickMenuButton()", #menu, [id]="post.id")
          .point
    .content(*ngIf="post.nodes.length > 0") {{ post.nodes[0].node.content }}
  .user
    .image
    .statistic 21
      .like-icon
    .statistic 70
      .comment-icon
