<div class="post">
  <a class="title" [routerLink]="['/posts/', post.id]"> {{post.title}} </a>
  <div *ngIf="post.nodes.length > 0" class="content">
    <app-node [node]="post.nodes[0]"></app-node>
  </div>
  <div *ngIf="user" class="statistic">
    <app-like [postId]="post.id"></app-like>
    <div class="element">
      <div class="comments-image"></div>
      <div class="count">0</div>
    </div>
    <div class="element">
      <a class="read-more" [routerLink]="['/posts/', post.id]">Read post...</a>
    </div>
  </div>
</div>
