.post {
  margin: 10px;
  padding: 0 10px;
  line-height: 1.8;
  background: #fff;
  border-bottom: #e2e2e2 1px solid;
}

.title {
  font-size: 20px;
  color: #000000;
}

.content {
  font-size: 16px;
}
