.post
  flex-direction: column
  padding: 5px 10px
  width: 100%
  height: 100px
  background-color: #ffffff
  border: #eef3f5 1px solid
  border-radius: 6px
  box-shadow: 0 0 6px #eeeeee
  .header
    flex-direction: row
    justify-content: space-between
    line-height: 32px
    .publish
      font-size: 14px
      font-weight: 500
    .menu-btn
      position: relative
      justify-content: center
      align-items: center
      width: 30px
      height: 30px
      overflow: hidden
      .point
        position: absolute
        background: black
        width: 4px
        height: 4px
        border-radius: 50%
        transition: all 0.4s ease
      .point::after, .point::before
        position: absolute
        content: ''
        background: black
        width: 4px
        height: 4px
        border-radius: 50%
        transition: all 0.1s ease
      .point::after
        transform: translate(6px)
      .point::before
        transform: translate(-6px)
    .menu-btn:hover
      .point
        background: rgba(0, 0, 0, 0)
        width: 4px
        height: 4px
        border-radius: 50%
      .point::before, .point::after
        width: 10px
        border-radius: 25%
      .point::before
        transform: translate(-4px) rotate(50deg)
      .point::after
        transform: translate(0px) rotate(-50deg)
    .open
      .point, .point::after, .point::before
        background: #2b82b9
  .title
    font-size: 20px
    line-height: 32px
    font-weight: 500
    color: #000
  .title:hover
    color: #2e6cb4
