.post
  .header
    .publish {{ publish }}
    app-popup-menu
      .menu-btn((click)="onClickMenuButton()")(#menu)
        .point
  a(class='title' routerLink="/posts/{{ post.id }}") {{ post.title }}
