.post
  .header
    .publish {{ publish }}
    app-popup-menu
      .menu-btn((click)="clickMenuButton()")(#menu)([id]="post.id")
        .point
  .content
    .left
      a(class='title' routerLink="/{{ post.id }}") {{ post.title }}
      .user
        .image
        .info
          .user-name Some User
          .additionally Junior QA
    .right
      .statistic 21
        .like-icon
      .statistic 4
        .view-icon
      .statistic 70
        .comment-icon
