.post
  flex-direction: column
  padding: 5px 10px
  width: 100%
  background-color: #ffffff
  border: #eef3f5 1px solid
  border-radius: 6px
  box-shadow: 0 0 6px #eeeeee
  .header
    flex-direction: row
    justify-content: space-between
    line-height: 32px
    .publish
      font-size: 14px
      font-weight: 500
    .menu-btn
      position: relative
      justify-content: center
      align-items: center
      width: 30px
      height: 30px
      overflow: hidden
      .point
        position: absolute
        background: black
        width: 4px
        height: 4px
        border-radius: 50%
        transition: all 0.4s ease
        pointer-events: none
      .point::after, .point::before
        position: absolute
        content: ''
        background: black
        width: 4px
        height: 4px
        border-radius: 50%
        transition: all 0.1s ease
      .point::after
        transform: translate(6px)
      .point::before
        transform: translate(-6px)
      &.open, &:hover.open
        .point, .point::after, .point::before
          background: #b95453
        .point
          background: rgba(0, 0, 0, 0)
        .point::before, .point::after
          width: 10px
          border-radius: 25%
        .point::before
          transform: translate(-2px) rotate(45deg)
        .point::after
          transform: translate(-2px) rotate(-45deg)
    .menu-btn:hover
      .point
        background: rgba(0, 0, 0, 0)
        width: 4px
        height: 4px
        border-radius: 50%
      .point::before, .point::after
        width: 8px
        height: 2px
        border-radius: 25%
      .point::before
        transform: translate(-4.5px) rotate(50deg)
      .point::after
        transform: translate(0.5px) rotate(-50deg)
  .content
    flex-direction: row
    justify-content: space-between
    .left
      flex-direction: column
      .title
        font-size: 20px
        line-height: 32px
        font-weight: 500
        color: #000
      .title:hover
        color: #2e6cb4
      .user
        margin: 10px 0
        flex-direction: row
        align-items: center
        .image
          width: 36px
          height: 36px
          background: #2b82b9
          border-radius: 50%
        .info
          margin-left: 10px
          line-height: 18px
          flex-direction: column
          .user-name
            font-size: 14px
          .additionally
            font-size: 12px
    .right
      flex-direction: column
      justify-content: flex-end
      font-size: 12px
      margin-bottom: 10px
      .statistic
        flex-direction: row
        justify-content: flex-end
        margin-top: 4px
        cursor: pointer
        .like-icon
          width: 12px
          height: 12px
          border: 1px solid black
          margin-left: 6px
          transition: all 0.2s ease
          border-radius: 4px
        .view-icon
          width: 12px
          height: 12px
          border: 1px solid black
          border-radius: 50%
          margin-left: 4px
          transition: all 0.2s ease
        .comment-icon
          width: 12px
          height: 12px
          border: 1px solid black
          margin-left: 4px
          transition: all 0.2s ease
          transform: rotate(20deg)
        &:hover
          .comment-icon, .view-icon, .like-icon
            background: #2b82b9
