body {
  margin: 0;
  padding: 0;
  color: #222;
  font-size: 16px;
  font-family: "Roboto Light", sans-serif;
  background-color: #f9f9f9;
}
a {
  color: #2b82b9;
  text-decoration: none;
}
a:hover {
  color: #2b82b9;
  text-decoration: underline;
}
div {
  display: block;
}
