.post-title#title
  h3.title( (keydown.enter) = "editTitle($event)",
            (keydown.shift.enter) = "addTitle($event)",
            (focusout) = "editTitle($event)"
            contenteditable
            role = "input-block") {{post.title}}
.nodes(*ngFor = 'let node of post.nodes')
  app-node([node] = "node", [isInput] = "true", [onChange]="editNode", [onDelete]="deleteNode")
.nodes
  app-input([change]= 'addNode')
